<div class="content">
  <form
    [formGroup]="formControlNewPass"
    (ngSubmit)="onSubmit()"
    class="example-form"
    #formDirective="ngForm"
  >
    <card-alert
      *ngIf="mensagemRedefinirSenha?.codigo != null"
      tipo="{{ mensagemRedefinirSenha.tipo }}"
      codigo="{{ mensagemRedefinirSenha.codigo }}"
      mensagem="{{ mensagemRedefinirSenha.mensagem }}"
    ></card-alert>
    <mat-form-field color="accent" class="example-full-width" appearance="fill">
      <mat-label>Informe o e-mail para a redefinição da senha</mat-label>
      <input formControlName="email" type="text" matInput />
    </mat-form-field>
    <div class="botao">
      <button
        mat-stroked-button
        color="accent"
        type="submit"
        [disabled]="formControlNewPass.invalid"
      >
        Enviar e-mail
      </button>
      <a mat-stroked-button color="accent" type="button" (click)="zerarForm()"
        >Cancelar</a
      >
    </div>
  </form>

  <app-footer></app-footer>
</div>
